

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.box{
    position: relative;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-number{
    margin: 5px 20px 5px 20px;
    width: 50px;
    border-radius: 50%;
    outline: medium;
    border: 0px;
}

.row{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.buttons {
    border: 1px solid lightgray;
    margin-top: 10px;
}

.row .equals{
    color: white;
    background-color: orange;
}

.row .clear-button{
    position: absolute;
    top: 2px;
    left: 80%;
    width: 20%;
}

.form-control{
    font-size: 20px;
}

.button-number:focus, .button-number:active{
    border-radius: 50%;
    outline: medium;
}